@model List<Siparis>

<div class="card-header; text-center">
    <h2 style="color:darkkhaki"> ADMİN SİPARİŞLER LİSTESİ SAYFASI</h2>
</div>


<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Sipariş Numarası
                </th>
                <th>
                    Hamburger Adi
                </th>
                <th>
                    Hamburger Resimi
                </th>
                <th>
                    İçecek
                </th>
                <th>
                    Ekstra Malzemeler
                </th>
                <th>
                    Boyut
                </th>
                <th>
                    Sipariş Adeti
                </th>
                <th>
                    Toplam Fiyat
                </th>
            </tr>
        </thead>
        <tbody>
            @*Buraya sırasıyla bütün siparişler listenecek*@
            @foreach (var siparis in Model)
            {                        
                <tr>
                    <td>@siparis.SiparisId</td>
                    <td>@siparis.Hamburger!.HamburgerAdi</td>
                    <td><img src="~/images/@siparis.Hamburger?.HamburgerFotograf" height="60px" width="60px" alt="Resim Yok" /></td>
                    <td>@siparis.Icecek?.IcecekAdi</td>
                    <td>
                        @{
                            var ekstraMalzemeler = siparis.EkstraMalzemeler;
                            for (int i = 0; i < ekstraMalzemeler?.Count; i++)
                            {
                                @ekstraMalzemeler[i].EkstraMalzemeAdi
                                if (i < ekstraMalzemeler.Count - 1)
                                {
                                    @(",")
                                }
                            }
                        }
                    </td>
                    <td>@siparis.Boyut.BoyutAdi</td>
                    <td>@siparis.SiparisAdet</td>
                    <td>@siparis.ToplamTutar</td>
                </tr>
            }
        </tbody>
    </table>
</div>
